<p>My name is Grif, and I live in Boston with my partner Katherine. What else?</p>
<ul>
  <li>I serve as the executive director at <a href="https://www.p2pu.org/en/">Peer 2 Peer University.</a></li>
  <li>I co-organized <a href="https://whoseuniversityisit.github.io">Whose University Is It?</a></li>
  <li>I am a former fellow at the <a href="https://pages.github.com/">Berkman Klein Center.</a></li>
  <li>I am keeping a newsletter in 2020 called <a href="https://butitisknown.substack.com/">But It Is Known.</a></li>
  <li>July 2020 Employee of the Month at KG Enterprise Solutions & Logistics Global LLC</li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-book fa-lg main-list-item-icon"></span>
    <a href="https://docs.google.com/document/d/14iqGHgT2VrN8mBULWk_5m6Tk7iYG3wVV9lZFFXcfTH4/edit?usp=drive_open&ouid=108465045112698789704">Resume</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-camera-retro fa-lg main-list-item-icon"></span>
    <a href="https://www.flickr.com/photos/154503920@N05/48138987967/in/dateposted-public/">Photo</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/grifpeterson">Twitter</a>
  </li>
</ul>
